<!doctype html>
<html xmlns:th=" http://www.thymeleaf.org" lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container">
            <h1>[[${pageTitle}]]</h1>
            <form th:action="@{/students/save}" th:object="${student}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="text" placeholder="Enter First Name" th:field="*{firstName}"
                    class="form-control mb-4 w-25">
                <input type="text" placeholder="Enter Last Name" th:field="*{lastName}" class="form-control mb-4 w-25">
                <input type="email" placeholder="Enter First Name" th:field="*{email}" class="form-control mb-4 w-25">
                <input type="submit" value="Save" class="btn btn-primary ">
            </form>
            <hr>
            <a th:href="@{/students/list}">Back to Student List</a>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>